.Genshin {
  background-image: url("https://i.pinimg.com/originals/d1/84/c1/d184c1f7e5ab475fde944091323da9b0.jpg");
  background-size: cover;
}

.aov {
  background-color: #5b5eab;
}

.GenshinData, .aovData {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: center;
  padding: 10px;
}
.GenshinData .genAvatarAndUID, .GenshinData .aovAvatarAndUID, .aovData .genAvatarAndUID, .aovData .aovAvatarAndUID {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-Avatar, .GenshinData .genAvatarAndUID .aovAvatarAndUID-Avatar, .GenshinData .aovAvatarAndUID .genAvatarAndUID-Avatar, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-Avatar, .aovData .genAvatarAndUID .genAvatarAndUID-Avatar, .aovData .genAvatarAndUID .aovAvatarAndUID-Avatar, .aovData .aovAvatarAndUID .genAvatarAndUID-Avatar, .aovData .aovAvatarAndUID .aovAvatarAndUID-Avatar {
  width: 100px;
  height: 100px;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-Avatar img, .GenshinData .genAvatarAndUID .aovAvatarAndUID-Avatar img, .GenshinData .aovAvatarAndUID .genAvatarAndUID-Avatar img, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-Avatar img, .aovData .genAvatarAndUID .genAvatarAndUID-Avatar img, .aovData .genAvatarAndUID .aovAvatarAndUID-Avatar img, .aovData .aovAvatarAndUID .genAvatarAndUID-Avatar img, .aovData .aovAvatarAndUID .aovAvatarAndUID-Avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-UID, .GenshinData .genAvatarAndUID .aovAvatarAndUID-UID, .GenshinData .aovAvatarAndUID .genAvatarAndUID-UID, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-UID, .aovData .genAvatarAndUID .genAvatarAndUID-UID, .aovData .genAvatarAndUID .aovAvatarAndUID-UID, .aovData .aovAvatarAndUID .genAvatarAndUID-UID, .aovData .aovAvatarAndUID .aovAvatarAndUID-UID {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  color: whitesmoke;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-Copy, .GenshinData .genAvatarAndUID .aovAvatarAndUID-Copy, .GenshinData .aovAvatarAndUID .genAvatarAndUID-Copy, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-Copy, .aovData .genAvatarAndUID .genAvatarAndUID-Copy, .aovData .genAvatarAndUID .aovAvatarAndUID-Copy, .aovData .aovAvatarAndUID .genAvatarAndUID-Copy, .aovData .aovAvatarAndUID .aovAvatarAndUID-Copy {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: copy;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-Copy button, .GenshinData .genAvatarAndUID .aovAvatarAndUID-Copy button, .GenshinData .aovAvatarAndUID .genAvatarAndUID-Copy button, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-Copy button, .aovData .genAvatarAndUID .genAvatarAndUID-Copy button, .aovData .genAvatarAndUID .aovAvatarAndUID-Copy button, .aovData .aovAvatarAndUID .genAvatarAndUID-Copy button, .aovData .aovAvatarAndUID .aovAvatarAndUID-Copy button {
  outline: none;
  border: none;
  font-size: 14px;
  background-color: rgba(255, 0, 0, 0);
  cursor: copy;
  color: whitesmoke;
}
.GenshinData .genAvatarAndUID .genAvatarAndUID-Copy svg, .GenshinData .genAvatarAndUID .aovAvatarAndUID-Copy svg, .GenshinData .aovAvatarAndUID .genAvatarAndUID-Copy svg, .GenshinData .aovAvatarAndUID .aovAvatarAndUID-Copy svg, .aovData .genAvatarAndUID .genAvatarAndUID-Copy svg, .aovData .genAvatarAndUID .aovAvatarAndUID-Copy svg, .aovData .aovAvatarAndUID .genAvatarAndUID-Copy svg, .aovData .aovAvatarAndUID .aovAvatarAndUID-Copy svg {
  color: whitesmoke;
}
.GenshinData .GenshinProfile, .GenshinData .AovProfile, .aovData .GenshinProfile, .aovData .AovProfile {
  margin-left: 10px;
}
.GenshinData .GenshinProfile p, .GenshinData .AovProfile p, .aovData .GenshinProfile p, .aovData .AovProfile p {
  margin-top: 5px;
  color: whitesmoke;
}
.GenshinData .GenshinProfile .GenshinProfile-Name, .GenshinData .GenshinProfile .AovProfile-Name, .GenshinData .AovProfile .GenshinProfile-Name, .GenshinData .AovProfile .AovProfile-Name, .aovData .GenshinProfile .GenshinProfile-Name, .aovData .GenshinProfile .AovProfile-Name, .aovData .AovProfile .GenshinProfile-Name, .aovData .AovProfile .AovProfile-Name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.GenshinData .GenshinProfile .GenshinProfile-Name h3, .GenshinData .GenshinProfile .AovProfile-Name h3, .GenshinData .AovProfile .GenshinProfile-Name h3, .GenshinData .AovProfile .AovProfile-Name h3, .aovData .GenshinProfile .GenshinProfile-Name h3, .aovData .GenshinProfile .AovProfile-Name h3, .aovData .AovProfile .GenshinProfile-Name h3, .aovData .AovProfile .AovProfile-Name h3 {
  color: #ffde97;
}
.GenshinData .GenshinProfile .GenshinProfile-Name button, .GenshinData .GenshinProfile .AovProfile-Name button, .GenshinData .AovProfile .GenshinProfile-Name button, .GenshinData .AovProfile .AovProfile-Name button, .aovData .GenshinProfile .GenshinProfile-Name button, .aovData .GenshinProfile .AovProfile-Name button, .aovData .AovProfile .GenshinProfile-Name button, .aovData .AovProfile .AovProfile-Name button {
  outline: none;
  border: none;
  font-size: 17px;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}
.GenshinData .GenshinProfile .GenshinProfile-Name button svg, .GenshinData .GenshinProfile .AovProfile-Name button svg, .GenshinData .AovProfile .GenshinProfile-Name button svg, .GenshinData .AovProfile .AovProfile-Name button svg, .aovData .GenshinProfile .GenshinProfile-Name button svg, .aovData .GenshinProfile .AovProfile-Name button svg, .aovData .AovProfile .GenshinProfile-Name button svg, .aovData .AovProfile .AovProfile-Name button svg {
  color: whitesmoke;
}
.GenshinData .GenshinProfile-Rank,
.GenshinData .GenshinProfile-Lever,
.GenshinData .AovProfile-Rank,
.GenshinData .AovProfile-Lever, .aovData .GenshinProfile-Rank,
.aovData .GenshinProfile-Lever,
.aovData .AovProfile-Rank,
.aovData .AovProfile-Lever {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
.GenshinData .GenshinProfile-Rank button,
.GenshinData .GenshinProfile-Lever button,
.GenshinData .AovProfile-Rank button,
.GenshinData .AovProfile-Lever button, .aovData .GenshinProfile-Rank button,
.aovData .GenshinProfile-Lever button,
.aovData .AovProfile-Rank button,
.aovData .AovProfile-Lever button {
  margin-left: 5px;
  border: none;
  font-size: 14px;
  background-color: rgb(199, 199, 199);
  border-radius: 100vh;
  cursor: pointer;
}
.GenshinData .GenshinProfile-Rank .Rank_title,
.GenshinData .GenshinProfile-Rank .Lever-title,
.GenshinData .GenshinProfile-Lever .Rank_title,
.GenshinData .GenshinProfile-Lever .Lever-title,
.GenshinData .AovProfile-Rank .Rank_title,
.GenshinData .AovProfile-Rank .Lever-title,
.GenshinData .AovProfile-Lever .Rank_title,
.GenshinData .AovProfile-Lever .Lever-title, .aovData .GenshinProfile-Rank .Rank_title,
.aovData .GenshinProfile-Rank .Lever-title,
.aovData .GenshinProfile-Lever .Rank_title,
.aovData .GenshinProfile-Lever .Lever-title,
.aovData .AovProfile-Rank .Rank_title,
.aovData .AovProfile-Rank .Lever-title,
.aovData .AovProfile-Lever .Rank_title,
.aovData .AovProfile-Lever .Lever-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.GenshinData .GenshinProfile-Exp .GenshinProfile-Exp_detail, .GenshinData .GenshinProfile-Exp .AovProfile-Exp_detail, .GenshinData .AovProfile-Exp .GenshinProfile-Exp_detail, .GenshinData .AovProfile-Exp .AovProfile-Exp_detail, .aovData .GenshinProfile-Exp .GenshinProfile-Exp_detail, .aovData .GenshinProfile-Exp .AovProfile-Exp_detail, .aovData .AovProfile-Exp .GenshinProfile-Exp_detail, .aovData .AovProfile-Exp .AovProfile-Exp_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.GenshinData .GenshinProfile-Exp .GenshinProfile-Exp_detail p, .GenshinData .GenshinProfile-Exp .AovProfile-Exp_detail p, .GenshinData .AovProfile-Exp .GenshinProfile-Exp_detail p, .GenshinData .AovProfile-Exp .AovProfile-Exp_detail p, .aovData .GenshinProfile-Exp .GenshinProfile-Exp_detail p, .aovData .GenshinProfile-Exp .AovProfile-Exp_detail p, .aovData .AovProfile-Exp .GenshinProfile-Exp_detail p, .aovData .AovProfile-Exp .AovProfile-Exp_detail p {
  color: rgb(88, 192, 50);
  font-weight: 400;
}
.GenshinData .GenshinProfile-Exp hr, .GenshinData .AovProfile-Exp hr, .aovData .GenshinProfile-Exp hr, .aovData .AovProfile-Exp hr {
  height: 5px;
  border-radius: 100vh;
  background-color: rgb(88, 192, 50);
  border: none;
}

.GenshinMenu, .AovMenu {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-around;
  padding-bottom: 5px;
}
.GenshinMenu .GenshinMenu_tab, .GenshinMenu .AovMenu_tab, .AovMenu .GenshinMenu_tab, .AovMenu .AovMenu_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px outset yellow;
  padding: 5px 0px;
  cursor: pointer;
}
.GenshinMenu .GenshinMenu_tab svg, .GenshinMenu .AovMenu_tab svg, .AovMenu .GenshinMenu_tab svg, .AovMenu .AovMenu_tab svg {
  margin-left: 10px;
  color: white;
}/*# sourceMappingURL=game.css.map */