.App{
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "font1";
    src: url("../assets/Fonts/font1.ttf") format("truetype");
}
@font-face {
    font-family: "font2";
    src: url("../assets/Fonts/font2.ttf") format("truetype");
}
@font-face {
    font-family: "font3";
    src: url("../assets/Fonts/font3.ttf") format("truetype");
}
@font-face {
    font-family: "font4";
    src: url("../assets/Fonts/font4.ttf") format("truetype");
}
@font-face {
    font-family: "font5";
    src: url("../assets/Fonts/font5.ttf") format("truetype");
}
@font-face {
    font-family: "font6";
    src: url("../assets/Fonts/font6.ttf") format("truetype");
}
@font-face {
    font-family: "font7";
    src: url("../assets/Fonts/font7.ttf") format("truetype");
}
@font-face {
    font-family: "font8";
    src: url("../assets/Fonts/font8.ttf") format("truetype");
}
@font-face {
    font-family: "font9";
    src: url("../assets/Fonts/font9.ttf") format("truetype");
}
@font-face {
    font-family: "font10";
    src: url("../assets/Fonts/font10.ttf") format("truetype");
}
@font-face {
    font-family: "font11";
    src: url("../assets/Fonts/font11.ttf") format("truetype");
}
@font-face {
    font-family: "font12";
    src: url("../assets/Fonts/font12.ttf") format("truetype");
}
@font-face {
    font-family: "font13";
    src: url("../assets/Fonts/font13.ttf") format("truetype");
}
@font-face {
    font-family: "font14";
    src: url("../assets/Fonts/font14.ttf") format("truetype");
}
@font-face {
    font-family: "font15";
    src: url("../assets/Fonts/font15.ttf") format("truetype");
}
@font-face {
    font-family: "font16";
    src: url("../assets/Fonts/font16.ttf") format("truetype");
}
@font-face {
    font-family: "font17";
    src: url("../assets/Fonts/font17.ttf") format("truetype");
}
@font-face {
    font-family: "font18";
    src: url("../assets/Fonts/font18.ttf") format("truetype");
}
@font-face {
    font-family: "font19";
    src: url("../assets/Fonts/font19.ttf") format("truetype");
}
@font-face {
    font-family: "font20";
    src: url("../assets/Fonts/font20.ttf") format("truetype");
}
@font-face {
    font-family: "font21";
    src: url("../assets/Fonts/font21.ttf") format("truetype");
}
@font-face {
    font-family: "font22";
    src: url("../assets/Fonts/font22.ttf") format("truetype");
}
@font-face {
    font-family: "font23";
    src: url("../assets/Fonts/font23.ttf") format("truetype");
}
@font-face {
    font-family: "font24";
    src: url("../assets/Fonts/font24.ttf") format("truetype");
}
@font-face {
    font-family: "font25";
    src: url("../assets/Fonts/font25.ttf") format("truetype");
}
@font-face {
    font-family: "font26";
    src: url("../assets/Fonts/font26.ttf") format("truetype");
}
@font-face {
    font-family: "font27";
    src: url("../assets/Fonts/font27.ttf") format("truetype");
}
@font-face {
    font-family: "font28";
    src: url("../assets/Fonts/font28.ttf") format("truetype");
}
@font-face {
    font-family: "font29";
    src: url("../assets/Fonts/font29.ttf") format("truetype");
}
@font-face {
    font-family: "font30";
    src: url("../assets/Fonts/font30.ttf") format("truetype");
}
@font-face {
    font-family: "font31";
    src: url("../assets/Fonts/font31.ttf") format("truetype");
}
@font-face {
    font-family: "font32";
    src: url("../assets/Fonts/font32.ttf") format("truetype");
}
@font-face {
    font-family: "font33";
    src: url("../assets/Fonts/font33.ttf") format("truetype");
}
@font-face {
    font-family: "font34";
    src: url("../assets/Fonts/font34.ttf") format("truetype");
}
@font-face {
    font-family: "font35";
    src: url("../assets/Fonts/font35.ttf") format("truetype");
}
@font-face {
    font-family: "font36";
    src: url("../assets/Fonts/font36.ttf") format("truetype");
}
@font-face {
    font-family: "font37";
    src: url("../assets/Fonts/font37.ttf") format("truetype");
}
@font-face {
    font-family: "font38";
    src: url("../assets/Fonts/font38.ttf") format("truetype");
}
@font-face {
    font-family: "font39";
    src: url("../assets/Fonts/font39.ttf") format("truetype");
}
@font-face {
    font-family: "font40";
    src: url("../assets/Fonts/font40.ttf") format("truetype");
}
@font-face {
    font-family: "font41";
    src: url("../assets/Fonts/font41.ttf") format("truetype");
}
@font-face {
    font-family: "font42";
    src: url("../assets/Fonts/font42.ttf") format("truetype");
}
@font-face {
    font-family: "font43";
    src: url("../assets/Fonts/font43.ttf") format("truetype");
}
@font-face {
    font-family: "font44";
    src: url("../assets/Fonts/font44.ttf") format("truetype");
}
@font-face {
    font-family: "font45";
    src: url("../assets/Fonts/font45.ttf") format("truetype");
}
@font-face {
    font-family: "font46";
    src: url("../assets/Fonts/font46.ttf") format("truetype");
}
@font-face {
    font-family: "font47";
    src: url("../assets/Fonts/font47.ttf") format("truetype");
}
@font-face {
    font-family: "font48";
    src: url("../assets/Fonts/font48.ttf") format("truetype");
}
@font-face {
    font-family: "font49";
    src: url("../assets/Fonts/font49.ttf") format("truetype");
}
@font-face {
    font-family: "font50";
    src: url("../assets/Fonts/font50.ttf") format("truetype");
}
@font-face {
    font-family: "font51";
    src: url("../assets/Fonts/font51.ttf") format("truetype");
}
@font-face {
    font-family: "font52";
    src: url("../assets/Fonts/font52.ttf") format("truetype");
}
@font-face {
    font-family: "font53";
    src: url("../assets/Fonts/font53.ttf") format("truetype");
}
@font-face {
    font-family: "font54";
    src: url("../assets/Fonts/font54.ttf") format("truetype");
}
@font-face {
    font-family: "font55";
    src: url("../assets/Fonts/font55.ttf") format("truetype");
}
@font-face {
    font-family: "font56";
    src: url("../assets/Fonts/font56.ttf") format("truetype");
}
@font-face {
    font-family: "font57";
    src: url("../assets/Fonts/font57.ttf") format("truetype");
}
@font-face {
    font-family: "font58";
    src: url("../assets/Fonts/font58.ttf") format("truetype");
}
@font-face {
    font-family: "font59";
    src: url("../assets/Fonts/font59.ttf") format("truetype");
}
@font-face {
    font-family: "font60";
    src: url("../assets/Fonts/font60.ttf") format("truetype");
}
@font-face {
    font-family: "font61";
    src: url("../assets/Fonts/font61.ttf") format("truetype");
}
@font-face {
    font-family: "font62";
    src: url("../assets/Fonts/font62.ttf") format("truetype");
}
@font-face {
    font-family: "font63";
    src: url("../assets/Fonts/font_cn_1.ttf") format("truetype");
}
@font-face {
    font-family: "font64";
    src: url("../assets/Fonts/font_cn_2.ttf") format("truetype");
}
@font-face {
    font-family: "font65";
    src: url("../assets/Fonts/font_cn_3.ttf") format("truetype");
}
@font-face {
    font-family: "font66";
    src: url("../assets/Fonts/font_otf_1.otf") format("truetype");
}
@font-face {
    font-family: "font67";
    src: url("../assets/Fonts/font_otf_2.otf") format("truetype");
}
@font-face {
    font-family: "font68";
    src: url("../assets/Fonts/font_otf_3.otf") format("truetype");
}
@font-face {
    font-family: "font69";
    src: url("../assets/Fonts/font_cn_4.ttf") format("truetype");
}
@font-face {
    font-family: "font70";
    src: url("../assets/Fonts/font_cn_5.ttf") format("truetype");
}
@font-face {
    font-family: "font71";
    src: url("../assets/Fonts/font_cn_6.ttf") format("truetype");
}
@font-face {
    font-family: "font72";
    src: url("../assets/Fonts/font_cn_7.ttf") format("truetype");
}