@import "./variable.scss";

.CharacterLQ{
    background-color: black;
    .CharacterLQ-h3{
        color: white;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }
    .CharacterLQ_Char{
        display: flex;
        ._Char-video{
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        ._Char-profile{
            padding: 10px;
            width: 100%;
            h3{
                color: white;
            }
            ._Char-profile_Skill{
                display: flex;
                align-items: center;
                margin-top: 10px;
                ._Skill-img{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    +._Skill-img{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    ._Char-profile_aler{
        @extend %overlay;
        .-profile_aler-box{
            @include overlayBox();
            display: flex;
            padding: 10px;
            user-select: none;
            ._aler-box-img{
                width: 100px;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            ._aler-box-delta{
                padding: 10px;
                flex: 1;
                p{
                    margin-top: 5px;
                }
            }
        }
    }
}