.CharacterGI{
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .CharacterGI-h3{
        color: black;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        text-align: center;
        font-size: 25px;
    }
}
.CharacterGI-avatar{
    display: grid;
    width: 100%;
    height: 60px;
    overflow-x: scroll;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    align-items: center;
    .-avatar_ic{
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 100vh;
        background-size: cover;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100vh;
            user-select: none;
        }
        +.-avatar_ic{
            margin-left: 10px;
        }
    }
    .-avatar_ic:not(.select){
        filter: grayscale(80%);
    }
}
.CharacterGI-build{
    width: 100%;
    height: auto;
    margin-top: 10px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.CharacterGI-profile{
    width: 100%;
    .-profile_delta{
        display: flex;
        .-profile_img{
            width: 150px;
            height: 150px;
            background-size: cover;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .-profile_p{
            flex: 1;
            margin-left: 10px;
            h4{
                margin: 5px 0px;
                font-family: 'Courier New', Courier, monospace;
            }
            p{
                letter-spacing: 1px;
            }
        }
    }
}
.-profile_skills{
    h4{
        margin: 5px 0px;
    }
    h5{
        margin: 5px 0px;
    }
    .skill-Talents, .skill-Passives{
        display: grid;
        width: 100%;
        overflow-x: scroll;
        grid-auto-flow: column;
        scroll-behavior: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        align-items: center;
        .Talents-box, .Passives-box{
            display: flex;
            gap: 10px;
        }
    }
}
.skill-Constellations{
    display: grid;
    width: 100%;
    overflow-x: scroll;
    grid-auto-flow: column;
    scroll-behavior: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    align-items: center;
}
.skill-Constellations-item{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.-item_skile{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}
