.CharacterLQ{
    background-color: black;
    .CharacterLQ_Char{
        display: flex;
        &:nth-child(1){
            padding-top: 10px;
        }
        +.CharacterLQ_Char{
            margin-top: 10px;
        }
        ._Char-video{
            width: 300px;
            video{
                width: 100%;
            }
        }
    }
}