.Documents-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    a{
        width: 100%;
        font-size: 24px;
        border: 1px inset black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: black;
        padding: 10px;
        cursor: pointer;
    }
}