@import "./variable.scss";
.Genshin, .aov{
    background-image: url('https://i.pinimg.com/originals/18/5d/4a/185d4a15c1a079a933ee0c5412d6dc00.jpg');
    background-size: cover;
    width: 100%;
}
.GenshinData, .aovData{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: center;
    padding: 10px;
    user-select: none;
    .genAvatarAndUID, .aovAvatarAndUID{
        display: flex;
        flex-direction: column;
        align-items: center;
        .genAvatarAndUID-Avatar, .aovAvatarAndUID-Avatar{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 100vh;
                object-fit: cover;
            }
        }
        .genAvatarAndUID-UID, .aovAvatarAndUID-UID{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0px;
            color: $my-color;
        }
        .genAvatarAndUID-Copy, .aovAvatarAndUID-Copy{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: copy;
            margin: 0px;
            button{
                outline: none;
                border: none;
                font-size: 14px;
                background-color: #f000;
                cursor: copy;
                color: $my-color;
            }
            svg{
                color: $my-color;
            }
        }
    }
    .GenshinProfile, .AovProfile{
        margin-left: 10px;
        p{
            margin-top: 5px;
            color: $my-color;
        }
        .GenshinProfile-Name, .AovProfile-Name{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                color: $my-color;
            }
            button{
                outline: none;
                border: none;
                font-size: 17px;
                background-color: #f000;
                cursor: pointer;
                user-select: none;
                svg{
                    color: $my-color;
                    user-select: none;
                }
            }
        }
    }
    .GenshinProfile-Rank,
    .GenshinProfile-Lever,
    .AovProfile-Rank,
    .AovProfile-Lever{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        button{
            margin-left: 5px;
            border: none;
            font-size: 14px;
            background-color: rgb(199, 199, 199);
            border-radius: 100vh;
            cursor: pointer;
        }
        .Rank_title,
        .Lever-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .GenshinProfile-Exp, .AovProfile-Exp{
        .GenshinProfile-Exp_detail, .AovProfile-Exp_detail{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            p{
                color: $cl-green;
                font-weight: 400;
            }
        }
        hr{
            height: 5px;
            border-radius: 100vh;
            background-color: $cl-green;
            border: none;
        }
    }
}

.Profile-edit{
    user-select: none;
    @extend %overlay;
    .Profile-edit_box{
        @include overlayBox(95%, 0 , 800px);
        padding: 30px;
        box-sizing: border-box;
        .Profile-edit_box-h{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 25px;
                color: rgb(70, 70, 70);
                &:nth-child(1){
                    font-weight: 500;
                }
                &:nth-child(2){
                    cursor: pointer;
                }
            }
        }
        .Profile-edit_box-b{
            display: flex;
            padding: 10px 0px;
            border-top: 1px solid rgb(163, 159, 159);
            label{
                width: 50%;
                font-size: 20px;
                font-weight: 500;
            }
            .edit_box-b{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                input{
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    outline: none;
                    background-color: rgb(227, 227, 227);
                    border: none;
                    border-radius: 3px;
                }
                textarea{
                    width: 100%;
                    height: 150px;
                    padding: 10px;
                    box-sizing: border-box;
                    outline: none;
                    background-color: rgb(227, 227, 227);
                    border: 1px solid rgb(163, 159, 159);
                    border-radius: 3px;
                }
                .edit_box-b_quost{
                    width: 100%;
                    margin-top: 10px;
                    font-size: 15px;
                    font-style: italic;
                }
                .edit_box-b_img{
                    width: 70px;
                    height: 70px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 100vh;
                        object-fit: cover;
                    }
                    label{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        padding: 5px;
                        border-radius: 100vh;
                        border: 1px solid black;
                        background-color: white;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i{
                            font-size: 15px;
                        }
                    }
                    input{
                        display: none;
                    }
                }
            }
        }
        .Profile-edit_box-e{
            border-top: 1px solid rgb(163, 159, 159);
            padding: 10px 0px;
            .edit_box-e_btn{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                button{
                    @extend %btnProfile;
                    +button{
                        margin-left: 10px;
                    }
                    &:hover{
                        @extend %btnProfileHV;
                    }
                }
            }
        }
    }
}
