@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);

:root {
  --user-button-circle: rgba(0, 0, 0, 0.025);
  --user-button-cardborder: rgba(255, 255, 255, 0.25);
  --user-button-text: #323133;
  --user-button-shadow: rgba(0, 0, 0, 0.1);
}

.MapLQ{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    .MapLQ-p{
        color: white;
        line-height: 25.6px;
        text-align: center;
        margin: 35.0375px 35.0375px 0px 35.0375px;
    }
    .MapLQ-h3{
        color: #cfc39b;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 35.0375px 0px;
    }
    .MapLQ-img{
        width: 90%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.MapLQ_detail{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  .MapLQ_detailBox{
      display: flex;
      align-items: center;
      flex-direction: column;
      p{
        height: 260px;
      }
  }
}

.MapLQBMap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  transition: 0.25s;
  width: 90%;
}

.MapLQBMap .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  flex: 1;
  width: calc(100% - 100px);
  height: 400px;
}

.MapLQBMap .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--defaultBackground, #e6e9ed);
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.MapLQBMap .options .option:nth-child(1) {
  --defaultBackground: url('https://i.pinimg.com/originals/3c/e6/11/3ce611d57104e733c493d3bc1005f4c2.jpg');
}
.MapLQBMap .options .option:nth-child(2) {
  --defaultBackground: url('https://i.pinimg.com/originals/4c/a6/bd/4ca6bd937104d0a443abfa2792ecc9c4.jpg');
}
.MapLQBMap .options .option:nth-child(3) {
  --defaultBackground: url('https://i.pinimg.com/originals/e7/f5/92/e7f592f10b14dee039406f22e5458507.jpg');
}
.MapLQBMap .options .option.active {
  flex: 9;
  transform: scale(1);
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;

}
// .MapLQBMap .options .option.active .shadow {
//   box-shadow: inset 0 -120px 120px -120px black,
//     inset 0 -120px 120px -100px black;
// }
.MapLQBMap .options .option.active .label {
  bottom: 20px;
  left: 20px;
}
.MapLQBMap .options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}
.MapLQBMap .options .option:not(.active) {
  flex: 1;
  border-radius: 30px;
}
// .MapLQBMap .options .option:not(.active) .shadow {
//   bottom: -40px;
//   box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
// }
.MapLQBMap .options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}
.MapLQBMap .options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}
// .MapLQBMap .options .option .shadow {
//   position: absolute;
//   bottom: 0px;
//   left: 0px;
//   right: 0px;
//   height: 120px;
//   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
// }
.MapLQBMap .options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.MapLQBMap .options .option .label .icon img {
  width: 100%;
  width: 100%;
}
.MapLQBMap .options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  color: var(--defaultBackground);
}
.MapLQBMap .options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}
.MapLQBMap .options .option .label .info > div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}
.MapLQBMap .options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}
.MapLQBMap .options .option .label .info .sub {
  transition-delay: 0.1s;
}


@media only screen and (max-width: 62.5em){
  .MapLQ_detail{
    display: grid;
    grid-template-columns: 49% 49%;
    .MapLQ_detailBox{
        display: flex;
        flex-direction: column;
        p{
          height: 220px;
        }
    }
  }
}
@media only screen and (max-width : 46.25em){
  .MapLQ_detail{
    display: grid;
    grid-template-columns: 99%;
    justify-content: center;
    .MapLQ_detailBox{
        display: flex;
        flex-direction: column;
    }
  }
}
@media only screen and (max-width : 30em){
  .MapLQ_detail{
    display: grid;
    grid-template-columns: 99%;
    justify-content: center;
    .MapLQ_detailBox{
        display: flex;
        flex-direction: column;
        p{
          height: 300px;
        }
    }
  }
}