@import "./variable.scss";

/* NAVBAR STYLING STARTS */
.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $my-color;
}

// SEARCH
.navbar-search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        width: 100%;
        padding: 8px;
        outline: none;
        border-right: 1px solid black;
    }
    button{
        font-size: 15px;
        padding: 7px;
        background-color: white;
        color: black;
        border: none;
        cursor: pointer;
        outline: none
        
    }
}
// CATEGORY
.Category-overlay{
    @extend %overlay;
    .Category-overlay_box{
        @include overlayBox();
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .Category-overlay_item{
            width: 90%;
            height: 40%;
            border-radius: 10px;
            padding: 10px;
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            +.Category-overlay_item{
                margin-top: 10px;
            }
            &:nth-child(1){
                background-image: url("https://i.pinimg.com/originals/a4/c9/ff/a4c9ff7cd3d80fdb6f77024f2e316b8e.jpg");
                background-size: contain;
                background-repeat: round;
            }
            &:nth-child(2){
                background-image: url("https://i.pinimg.com/originals/25/95/e1/2595e124451e10fda4a61fa300af6b61.jpg");
                background-size: contain;
                background-repeat: round;
            }
        }
    }
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 14px;
    align-items: center;
}
.selected{
    background-color: rgb(144, 179, 209);
    border-radius: 20px;
    transition: background-color ease-in .3s;
}
.menu li{
    width: 120px;
    text-align: center;
    padding: 20px 0px;
    user-select: none;
}
.menu li:hover{
    cursor: pointer;
}
.menu li a i{
    margin-right: 5px;
    color: $my-text;
}
.menu li a{
    color: $my-text;
    padding: 20px 10px;
}
.Account{
    display: flex;
}
.Account span{
    padding: 20px 0px;
}

/* RESPONSIVE NAVBAR MENU */
.nav__bars{
    width: 40px;
    height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__bars i{
    margin: auto;
    color: white;
    font-size: 30px;
}
.nav__bars-box{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    display: none;
}
.navbar__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar__body{
    width: 70%;
    height: 100%;
    background-color: white;
    position: relative;  
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s linear;
}
.bars__box-nav{
    padding-top: 30px;
    padding-left: 0px;
}
.bars__box-nav li{
    list-style: none;
    padding: 10px 0px;
    transition: background-color linear 0.3s;
}
.bars__box-nav li:hover{
    background-color: rgba(206, 206, 206, 0.65);
}
.bars__box-nav li a i{
    color: black;
    font-size: 1em;
    margin: 0px 10px 0px 20px;
    width: 20px;
    height: 20px;
}
.bars__box-nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
.bars__box-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    cursor: pointer;
}
.bars__box-icon i{
    place-self: center;
    color: rgb(7, 7, 7);
    font-size: 20px;
}
.all__product{
    display: none;
    position: relative;
    background-color: white;
    ul{
        padding: 0px;
    }
}
.all__product::after{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: -4px;
    background-color: transparent;
}
.all__product li{
    border: 1px solid black;
    text-align: center;
    user-select: none;
}
.all__product li a{
    color: rgb(49, 49, 48);
}
.all__product:hover li:not(:hover){
    opacity: 0.3;
    filter: blur(3px);
}
.listProductHidden:hover .all__product{
    display: block;

}

/* APPLYING MEDIA QUERIES */
// @media (max-width: 649px){
//     .hidden{
//         display: none;
//     }
// }
// @media (max-width: 63.9375em) {
//     .menu{
//         display: none;
//     }
//     .nav__bars{
//         display: flex;
//     }
//     #nav__bars:checked ~ .nav__bars-box{
//         display: block;
//     }
//     #nav__bars:checked ~ .nav__bars-box > .navbar__body{
//         transform: translateX(0%);
//         opacity: 1;
//     }
// }
@media (max-width: 63.9375em){
    .menu li{
        width: 50px;
    }
    .menu li a span{
        display: none;
    }
}