.slider-container{
    width: 100%;
    margin-bottom: -8px;
    .slick-prev:before, .slick-next:before{
        color: #fff4;
    }
    .slick-prev, .slick-next{
        background-color: #fff4;
        z-index: 10;
        border-radius: 100vh;
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .slick-prev{
        left: 12px;
    }
    .slick-next{
        right: 12px;
    }
    .slick-dots{
        position: absolute;
        bottom: 17px;
    }
    .slick-dots li button:before{
        font-size: 10px;
        color: rgb(141, 141, 242);
    }
    .slick-dots li.slick-active button:before{
        color: white;
    }
}
.slider-banner{
    width: 100%;
    height: 250px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slider-page{
    display: grid;
    grid-template-columns: 30% 70%;
}

@media only screen and (max-width: 78.75em){
    .slider-page{
        display: grid;
        grid-template-columns: 40% 60%;
    }
}
@media only screen and (max-width: 62.5em){
    .slider-page{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
}
@media only screen and (max-width : 46.25em){
    .slider-page{
        display: grid;
        grid-template-columns: 100%;
    }
    .slider-banner{
        width: 100%;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width : 30em){
    .slider-banner{
        width: 100%;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}