$love: #ee4d2d;
$sale: #ffd838;
$my-color:  black;
$my-hover: rgb(246, 246, 246);
$my-text: white;
$my-icon: wheat;
$cor-background: #322946;
$cor-background-card: #204286;
$cor-texto: #fefefe;
$cor-sombra: rgba(0, 0, 0, 0.2);
$my-fs: 15px;
$cl-green: rgb(68, 133, 45);

%overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(36, 34, 34, 0.6);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

%btnProfile{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: $my-fs;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(199, 199, 199);
}
%btnProfileHV{
    background-color: rgb(235, 235, 235);
    transition: all linear .2s;
}

@mixin overlayBox($width: 90%, $mw: 1000px){
    width: $width;
    height: auto;
    max-width: $mw;
    background-color: white;
    border-radius: 10px;
}